<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sshCredentials">
            <h2><span jhiTranslate="jeevesdemoApp.sshCredentials.detail.title">Ssh Credentials</span> {{sshCredentials.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jeevesdemoApp.sshCredentials.name">Name</span></dt>
                <dd>
                    <span>{{sshCredentials.name}}</span>
                </dd>
                <dt><span jhiTranslate="jeevesdemoApp.sshCredentials.username">Username</span></dt>
                <dd>
                    <span>{{sshCredentials.username}}</span>
                </dd>
                <dt><span jhiTranslate="jeevesdemoApp.sshCredentials.password">Password</span></dt>
                <dd>
                    <span>{{sshCredentials.password}}</span>
                </dd>
                <dt><span jhiTranslate="jeevesdemoApp.sshCredentials.sshKey">Ssh Key</span></dt>
                <dd>
                    <span>{{sshCredentials.sshKey}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ssh-credentials', sshCredentials.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
