<div>
    <h2 id="page-heading">
        <span jhiTranslate="jeevesdemoApp.sshCredentials.home.title">Ssh Credentials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ssh-credentials" [routerLink]="['/ssh-credentials/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jeevesdemoApp.sshCredentials.home.createLabel">
            Create a new Ssh Credentials
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sshCredentials?.length === 0">
        <span jhiTranslate="jeevesdemoApp.sshCredentials.home.notFound">No sshCredentials found</span>
    </div>
    <div class="table-responsive" *ngIf="sshCredentials?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="jeevesdemoApp.sshCredentials.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="username"><span jhiTranslate="jeevesdemoApp.sshCredentials.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="password"><span jhiTranslate="jeevesdemoApp.sshCredentials.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sshKey"><span jhiTranslate="jeevesdemoApp.sshCredentials.sshKey">Ssh Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let sshCredentials of sshCredentials ;trackBy: trackId">
                <td><a [routerLink]="['/ssh-credentials', sshCredentials.id, 'view' ]">{{sshCredentials.id}}</a></td>
                <td>{{sshCredentials.name}}</td>
                <td>{{sshCredentials.username}}</td>
                <td>{{sshCredentials.password}}</td>
                <td>{{sshCredentials.sshKey}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ssh-credentials', sshCredentials.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ssh-credentials', sshCredentials.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(sshCredentials)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
